.home-page {
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 24px 80px 40px;
  flex-wrap: wrap;
  width: 100%;
}

.text-zone {
  width: 500px;
}

.text-pink {
  color: #fd4370;
}

h1 {
  line-height: 4rem !important;
}

h3 {
  line-height: 2.4rem !important;
}
