@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --primary:#FD4370;
    --secondary:#111827;
}

body{
    background:var(--secondary);
    overflow-x:hidden;
    font-family: 'Poppins', sans-serif;
}

.button{
    background:var(--primary);
    
}

.button:hover{
    background: #383D5E;
}

