*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}


body{
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    color: white !important;
    background: #111827 !important;
    overflow-x: hidden;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 18px;
    border: 1px solid #FD4370;
    background: #FD4370;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    display: inline-block;
}

.button:hover, .button:focus, .button:active{
    background: #383D5E;
    border: 1px solid #383D5E;
    color: white;
    outline: none;
}

input,textarea{
    background: white;
    padding: 10px 16px;
    border-radius: 20px ;
    border: 2px solid #111827;
    color: #f2f2f2;
}

.container{
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    /* position: absolute; */
    opacity: 0;
    top: 5%;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

h1{
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    font-size: 2.7em !important;

}


h2{
    font-size:2em !important;
}

h3{
    font-size:1.2em !important;
    font-weight: 200 !important;
}

p{
    font-size: 1.2em;
    line-height: 2em;
}

.full-page{
    min-height: 100vh;
    width: 100vw;
}




